######################################################################
##
##  'Standard personal configuration' file.
##  
##          * universal file *
##
######################################################################

## Condor's host. As this file is just for a personal configuration
## Condor's host is the same machine.
CONDOR_HOST = $(FULL_HOSTNAME)

## Tells Condor when to start a job. This can be configured with
## macros to tell this machine to run jobs only from certain users
## or only on a certain moment. START = TRUE tells condor to
## always run jobs in this machine.
START = TRUE

## Tells Condor when to suspend a job. SUSPEND = FALSE tells condor
## not to suspend jobs on its own. This can be configured with macros
## telling condor to suspend jobs if the machine is no longer idle.
SUSPEND = FALSE

## Tells Condor when to nicely stop a job. Same as before, this can be
## configured using macros.
PREEMPT = FALSE

## Tells Condor when to stop a job. For example, when the PREEMPT stage
## is taking too long.
KILL = FALSE

## The daemons that are going to be ran in this machine.
DAEMON_LIST = COLLECTOR, MASTER, NEGOTIATOR, SCHEDD, STARTD

## Tells condor who the admin is. This is for sending mails and stuff.
CONDOR_ADMIN = root@$(FULL_HOSTNAME)

## Give pool administrator permissions to the following. 
ALLOW_ADMINISTRATOR = $(CONDOR_HOST), $(IP_ADDRESS)

## Let the following owner permissions. That means that the following
## will be able to perform the same condor commands you are able to
## locally, remotely.
ALLOW_OWNER = $(FULL_HOSTNAME), $(ALLOW_ADMINISTRATOR)

## The following will be able to view the status of the pool, but not
## join nor run jobs in it.
ALLOW_READ = *

## Give the following permissions to join your pool, run jobs, etc.
## What you list here must be listed in ALLOW_READ too.
ALLOW_WRITE = $(FULL_HOSTNAME), $(IP_ADDRESS)

## Sets as whom the jobs are going to run.
## Jobs run as nobody by default.
## In this case we make condor run jobs as the user 'condor'.
## For example, if you need to run docker, but only the docker group is
## allow to run it, you can add condor to the docker group and add the following:
#SLOT1_USER = condor
#SLOT2_USER = condor
## In this example the machine has only 2 cores, so 2 slots. You must list all
## slots you want in the machine to run as an user.
## If you set a determined user to run jobs as, you must tell condor not to run 
## jobs as owner.
#STARTER_ALLOW_RUNAS_OWNER = FALSE


## For further configuration details check the full condor_config file.
ALLOW_NEGOTIATOR = $(CONDOR_HOST), $(IP_ADDRESS)
ALLOW_NEGOTIATOR_SCHEDD = $(CONDOR_HOST), $(IP_ADDRESS)
ALLOW_WRITE_COLLECTOR = $(ALLOW_WRITE)
ALLOW_WRITE_STARTD = $(ALLOW_WRITE)
ALLOW_READ_COLLECTOR = $(ALLOW_READ)
ALLOW_READ_STARTD = $(ALLOW_READ)
