######################################################################
##
##  'Standard multiple machine configuration' file.
##
##      * MASTER MACHINE *
##  
##  Add machines into the pool.
##
######################################################################

## Add write permissions to the new machines in your pool.
## You want them to be able to join your pool.
## Write the machine's IP or machine's name you have in /etc/hosts.
## A = $(A), B means, A is now its previous plus B.
ALLOW_WRITE = $(ALLOW_WRITE), cacharro

## Overrides the DAEMON_LIST in 00*. In this case we dont
## want this machine to run jobs, so STARTD is removed.
DAEMON_LIST = COLLECTOR, MASTER, NEGOTIATOR, SCHEDD

## If you want this machine to be able to run docker jobs, or
## run in the docker environment list your docker executable.
## This must be listed to run in the docker environment. But is
## useful in other environments if you are working with a Dockerfile
## and you want your job to run in machines that have docker installed.
DOCKER = /usr/bin/docker

 
##  If you want to "lie" to Condor about how many CPUs your machine
##  has, you can use this setting to override Condor's automatic
##  computation.' Usage example: (Must restart condor)
# NUM_CPUS = 2. 

##  If you never want Condor to detect more the "N" CPUs.
## Usage example: (Must restart condor)
# MAX_NUM_CPUS = 1
