######################################################################
##
##  'Standard multiple machine configuration' file.
##
##      * SLAVE MACHINE * (not master machine)
##  
##  Add machines (this machine) into the pool.
##
######################################################################

## You must set the new host (name or IP) of the pool.
CONDOR_HOST = condortest

## Overwrides the conodr daemon list to run in this machine.
## In this case, we want the machine to only be able to run jobs. Not
## monitor them nor submit them.
DAEMON_LIST = MASTER, STARTD

## Add write permissions to the new host.
ALLOW_WRITE = $(ALLOW_WRITE), $(CONDOR_HOST)

## If you want this machine to be able to run docker jobs, or
## run in the docker environment list your docker executable.
## This must be listed to run in the docker environment. But is
## useful in other environments if you are working with a Dockerfile
## and you want your job to run in machines that have docker installed.
DOCKER = /usr/bin/docker

