######################################################################
##
##  'Standard multiple machine configuration' file.
##
##      * NODE MACHINE * (not master machine)
##  
##  Add machines (this machine) into the pool.
##
######################################################################

## You must set the new host (name or IP) of the pool.
CONDOR_HOST = **insert-the-condor-master-ip-here**

## Overwrides the condor daemon list to run in this machine.
## Uncomment only the configuration you want to use.

### Submit-Only Machine
## Uncomment the following line if you want the machine to
## only be able to submit jobs to be executed in other nodes.
DAEMON_LIST = MASTER, SCHEDD

### Execute-Only Machine
## Uncomment the following line	if you want the	machine	to
## only	be able	to execute jobs submitted by other machines.
#DAEMON_LIST = MASTER, STARTD

### Submit-Execute Machine
## Uncomment the following line	if you want the	machine	to
## be able to both submit and execute jobs.
#DAEMON_LIST = MASTER, SCHEDD, STARTD

## Add write permissions to the new host.
ALLOW_WRITE = $(ALLOW_WRITE), $(CONDOR_HOST)

## If you want this machine to be able to run docker jobs, or
## run in the docker environment list your docker executable.
## This must be listed to run in the docker environment. But is
## useful in other environments if you are working with a Dockerfile
## and you want your job to run in machines that have docker installed.
DOCKER = /usr/bin/docker

